<div class="success-modal">
  <div class="success-content">
    <div>
    <h1>SUCCES</h1>
    <h2>Din aktivitet er nu oprettet</h2>
    </div>
    <p>
      Du vil inden for kort tid modtage en bekræftelses e-mail og løbende
      modtage information omkring tilmeldinger pr. e-mail
    </p>
    <img
      class=""
      src="/assets/Success.svg"
      alt="Image of a checkmark, to show that the action was a success"
    />
    <div class="button-div">
      <app-button size="small" variant="secondary" (click)="onCloseButtonClick()"> Tilbage </app-button>
    </div>
  </div>
</div>
