<app-navbar></app-navbar>
<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- TITLE AND UNDERTITLE AREA -->
    <ion-row class="ion-padding-start ion-padding-end ion-margin-start ion-margin-end ion-margin-bottom text-area">
      <ion-col sizeMd="auto" sizeLg="7" class="ion-text-center ion-text-md-start">
        <ion-text>
          <h1>{{activity.title}}</h1>
          <h2>{{activity.subTitle}}</h2>
        </ion-text>
        <ion-text>
          <p>
            <strong>Aldersgruppe:</strong> {{activity.ageGroup}} 
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    
    <!-- IMAGE AND INFO  -->
      <ion-row class="ion-justify-content-center">
        
        <ion-col class="ion-no-padding" sizeLg="5">
          <ion-card>
            <ion-card-content class="ion-no-padding">

              <div class="imgContainer">
                
                <img src={{activity.imageSrc}}>

                <div class="ion-padding">
                  <p><strong>Dato og tid: </strong>{{activity.time}} {{activity.date | date: 'dd-MM-yyyy'}}</p>
                  <p><strong>Lokation:</strong> {{activity.location}}</p>
                </div>
    
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- DESCRIPTION CARD DESKTOP -->
        <ion-col sizeMd="12" sizeLg="6" class="byAndTime ion-hide-md-down">
          <ion-card>
            <ion-card-content>
              
              <div class="ion-padding">
                <h3>Om aktiviteten</h3><br>
                <p>
                  {{activity.description}}
                </p>
                
                <div class="information">
                  <p><strong>Oprettet af:</strong> {{activity.name}}</p>
                  <p><strong>Max deltagere:</strong> {{activity.participants}}</p>
                </div>
                
                <div class="ion-text-end">
                  <app-button (click)="presentModal()" disabled="false" variant="secondary" size="small">
                    <p>Tilmeld</p>
                  </app-button>
                </div>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    
      <!-- DESCRIPTION CARD MOBILE -->
      <div class="cardContainer" class="ion-hide-md-up">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <h3>Om aktiviteten</h3><br>
                <p class="ion-padding-bottom">
                  {{activity.description}}
                </p>
                
                <div class="information ion-padding-bottom">
                  <p><strong>Oprettet af: </strong>{{activity.name}}</p>
                  <p><strong>Max deltagere: </strong>{{activity.participants}}</p>
                </div>
              
                <app-button (click)="presentModal()" disabled="false" variant="secondary" size="small" class="ion-text-center">
                <p>Tilmeld</p>
                </app-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
  </ion-grid>
</ion-content>

<app-footer-tab></app-footer-tab>