/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


body {
  background-color: #fffdf8;
}

ion-searchbar {
    .searchbar-input-container {
        input{
            padding-inline-end: 10px !important;
            padding-inline-start: 25px !important;
            font-size: 14px !important;
        }
    }
}

h1{
    color: var(--ion-color-primary);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
    --ion-font-family: "Poppins";
    text-transform: uppercase;
}


ion-content {
    --padding-top: 20px;
    --padding-bottom: 80px;
    --background: var(--ion-color-base);
}
@media (min-width: 768px) {
    ion-content {
      --padding-bottom: 0px;
    }
}

    ion-toolbar {
    --background: var(--ion-color-base); 
    }

h2 {
    color: var(--ion-color-offblack);
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
}


@media (min-width: 766px) {
    ion-modal {
        --width: 100vw;
        --box-shadow: 0; 
        --backdrop-opacity: 0; 
        align-items: end;
    }
}


ion-text {
    font-family: "Poppins", sans-serif;
}
