ion-header {
    padding-top: 20px;
    padding-bottom: 0;
}

ion-button {
    --background: none;
    --box-shadow: none;

}

ion-icon {
    font-size: 2.5rem !important;
}

#logo {
    margin-bottom: 1rem;
}

.navbar {
  overflow: hidden;

  .dropbtn {
    font-size: 1rem;
    color: #0C5A79;
  }
  .rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 0.3s; 
  }

}
.img-container{
  cursor: pointer;
}

.ion-hide-md-down {
    padding-inline: 0;
}

@media only screen and (max-width: 766px) {
    .search-bar-container,
    .buttons-container {
        display: none;
    }
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .img-container ion-img {
        max-width: 100%;
        max-height: 100%;
    }

    ion-img {
        width: 20vh;
    }

    
}

@media only screen and (min-width: 766px) {
    .search-bar-md{
        display: none;
    }
    #logo {
        margin-bottom: 0;
    }
}