<app-navbar></app-navbar>
<ion-content>
  <ion-grid class="title-container">
  
    <ion-row class=" text-area">
      <ion-col>
        <ion-text class="ion-text-center ion-text-md-center">
          <h1>OM OS</h1><br>
        </ion-text>
        <ion-text class="ion-text-center ion-text-md-center">
          <h2>
            Velkommen til KIDDO <br>
          </h2>
          <p>
            En Non-profit Organisation,  dedikeret til at gøre dit barns socialliv mere begejstrende og mindeværdig.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>
    
  <ion-grid class="about-container">

    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12" sizeMd="12" sizeLg="6">
            <ion-img src="assets/about-us-image.png"></ion-img>
       
      </ion-col>

      <ion-col size="12" sizeMd="12" sizeLg="6" class="abouttext">
          <p>
            <strong>Vores Mission</strong>
          </p>
          <p>
            Hos KIDDO mener vi, at skabelsen af sociale forbindelser og venskaber i barndommen er afgørende for personlig vækst og lykke. Vores mission er at styrke forældre i at skabe mindeværdige begivenheder, der gør det muligt for deres børn at socialisere, lære og, vigtigst af alt, skabe varige venskaber.
          </p>

          <br>

          <p>
            <strong>Hvorfor KIDDO?</strong>
          </p>

          <p>
            Vi forstår de udfordringer, forældre står over for, når de forsøger at organisere sociale arrangementer for deres børn. Vi forenkler processen, så du nemt kan oprette, administrere og opdage begivenheder. Vi er her for at gøre dit liv som forælder lettere, samtidig med at vi beriger dit barns liv med nye venskaber.
          </p>

          <br>

          <p>
            <strong>Hvad adskiller os?</strong>
          </p>
          <ul>
            <li>
              Skræddersyet til forældre
            </li>
            <li>
              Børnecentreret
            </li>
            <li>
              Sikkerhed først
            </li>
            <li>
              Fællesskabsbygning
            </li>
          </ul>

          <br>

          <p>
            <strong>Vores Hold</strong>
          </p>

          <p>
            Bag KIDDO står et lille team af webudviklere og problemløsere. Vi er drevet af vores fælles passion for at hjælpe børn med at til vokse selvsikre, socialt dygtige individer.
          </p>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  <app-footer-tab></app-footer-tab>  
</ion-content>
