<app-navbar></app-navbar>
<ion-content>

  
  <ion-grid class="title-container">

    <ion-row class="ion-padding ion-margin text-area">
      <ion-col>
        <ion-text class="ion-text-center ion-text-md-center">
          <h1>KONTAKT</h1>
        </ion-text>
        <ion-text class="ion-text-center ion-text-md-center">
          <p>
            FÅ SVAR PÅ DINE SPØRGSMÅL HER. DU KAN ENTEN VÆLGE AT SKRIVE ELLER RINGE TIL OS UNDER ALLE HVERDAGE.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  
  </ion-grid>

  <ion-grid class="contact-container">
    <ion-row class="ion-justify-content-center">

      <ion-col class="mobile-view" size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none" class="contact-info">

              <ion-item>
                <ion-icon class="person-circle-outline" name="person-circle-outline" color="primary"></ion-icon>
                +45 11 22 33 44
                <br>
                kundeservice@mail.dk
                <br>
                Maglegårdsvej 2, 4000 Roskilde
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="desktop-view" size="12" size-md="6" size-lg="4">
        <ion-card class="cards">

          <ion-img src="assets/contact-image.png"></ion-img>

          <ion-card-content>
            <ion-list lines="none" class="contact-info">

              <ion-item>
                <ion-icon name="call" color="primary"></ion-icon>
                +45 11 22 33 44
              </ion-item>
              <ion-item>
                <ion-icon name="mail" color="primary"></ion-icon>
                kundeservice@mail.dk
              </ion-item>
              <ion-item>
                <ion-icon name="location" color="primary"></ion-icon>
                Maglegårdsvej 2, 4000 Roskilde
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="cards">
          <ion-card-content>
            <ion-list>

              <ion-item>
                <ion-label position="floating">Navn</ion-label>
                <ion-input type="text" name="navn"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Email<span> *</span></ion-label>
                <ion-input type="email" name="email" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Besked<span> *</span></ion-label>
                <ion-textarea name="besked" required></ion-textarea>
              </ion-item>

            </ion-list>

            <div class="button-div">
              <app-button disabled="false" variant="secondary" size="small" id="open-toast" expand="block">Send Besked</app-button>
              <ion-toast trigger="open-toast" message="Din besked blev sendt!" [duration]="5000"></ion-toast>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer-tab></app-footer-tab>

</ion-content>