<ion-content color="primary" fullscreen="true">
  <ion-toolbar class="ion-text-center">
    
      <h1>Tilmeld dit barn</h1>
    
    <ion-button class="close-btn" (click)="cancel()" slot="end">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>

  
  <form class="form" [formGroup]="attendForm">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col
          size="12"
          size-sm="6"
          size-lg="6"
          *ngFor="let input of InputFields"
        >
          <ion-label
            [ngClass]="getInputStatus(input.model, 'label')"
            class="label"
            position="stacked"
            >{{input.label}}</ion-label
          >

          <ng-container [ngSwitch]="input.inputType">
            <!-- Select Type -->
            <ion-item
              lines="none"
              class="select-container"
              *ngSwitchCase="'select'"
              [ngClass]="getInputStatus(input.model, 'select')"
            >
              <ion-select
                (ionBlur)="onBlur(input.model)"
                formControlName="{{input.model}}"
                placeholder="{{input.placeholder}}"
                interface="popover"
                class="select"
                [attr.aria-label]="'Selection for {{input.label}}'"
              >
              </ion-select>
              <ion-icon
                *ngIf="attendForm.get(input.model)?.valid && attendForm.get(input.model)?.touched"
                name="checkmark-circle"
                slot="end"
                color="success"
                class="valid-checkmark-icon"
              >
              </ion-icon>
            </ion-item>

            <!-- Input Type -->
            <ion-item
              *ngSwitchDefault
              lines="none"
              class="{{input.class}}"
              [ngClass]="getInputStatus(input.model, 'input')"
            >
              <ion-input
                (ionBlur)="onBlur(input.model)"
                formControlName="{{input.model}}"
                type="{{input.inputType}}"
                placeholder="{{input.placeholder}}"
                [attr.aria-label]="'Input for {{input.label}}'"
              ></ion-input>
              <ion-icon
                *ngIf="attendForm.get(input.model)?.valid && attendForm.get(input.model)?.touched"
                name="checkmark-circle"
                slot="end"
                color="success"
                class="valid-checkmark-icon"
              >
              </ion-icon>
            </ion-item>

            <!-- Text Area Type -->
            <ion-item
              lines="none"
              class="{{input.class}}"
              *ngSwitchCase="'textarea'"
            >
              <ion-textarea
                (ionBlur)="onBlur(input.model)"
                formControlName="{{input.model}}"
                [autoGrow]="true"
                placeholder="{{input.placeholder}}"
                [attr.aria-label]="'Textarea for {{input.label}}'"
              ></ion-textarea>
            </ion-item>
          </ng-container>

          <!-- Error Messages -->
          <div
            *ngIf="attendForm.get(input.model)?.invalid && attendForm.get(input.model)?.touched && !attendForm.get(input.model)?.pending"
          >
            <ng-container *ngFor="let error of errorMessages[input.model]">
              <div class="error-label-container">
                <ion-label
                  *ngIf="attendForm.get(input.model)?.hasError(error.type)"
                  class="error-label"
                  position="stacked"
                  role="alert"
                >
                  {{ error.message }}
                </ion-label>
              </div>
            </ng-container>
          </div>
        </ion-col>

        <!--
        <ion-col class="ion-align-self-end">
          <div class="button-div">
            <ion-button
              (click)="submit()"
              shape="round"
              slot="end"
              size="small"
              [disabled]="!attendForm.valid"
            >
              Tilmeld
            </ion-button>
          </div>
        </ion-col>
        -->

      </ion-row>

      <ion-row>
        <ion-col class="ion-text-end">
          <ion-button
            (click)="submit()"
            shape="round"
            size="small"
            [disabled]="!attendForm.valid"
        >
          Tilmeld
          </ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <!--
  <form class="form" [formGroup]="attendForm">
    <ion-grid [fixed]="true">

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeLg="5" class="ion-margin-top">
          <ion-label>Forældres navn</ion-label>
          <ion-item fill="outline" shape="round">
            <ion-input
            aria-label="Forældres navn"
            placeholder="Fornavn Efternavn"
            formControlName="parentName"
            >
            </ion-input>

            <ng-container>
              <ion-icon
              *ngIf="attendForm.get('parentName')?.valid && attendForm.get('parentName')?.touched"
              name="checkmark-circle"
              slot="end"
              color="success"
              class="valid-checkmark-icon"
              ></ion-icon>
            </ng-container>
           
          </ion-item>
        </ion-col>

        

        <ion-col size="12" sizeLg="5" class="ion-margin-top">
          <ion-label>Barns navn</ion-label>
          <ion-item fill="outline" shape="round">
            <ion-input
            aria-label="Barns navn"
            placeholder="Fornavn Efternavn"
            formControlName="childName"
            >
            </ion-input>

            <ng-container>
              <ion-icon
              *ngIf="attendForm.get('childName')?.valid && attendForm.get('childName')?.touched"
              name="checkmark-circle"
              slot="end"
              color="success"
              class="valid-checkmark-icon"
              ></ion-icon>
            </ng-container>
          </ion-item>

         
        
        </ion-col>

        <ion-col size="12" sizeLg="5" class="ion-margin-top">
          <ion-label>E-mail</ion-label>
          <ion-item fill="outline" shape="round">
            <ion-input
            aria-label="E-mail"
            placeholder="mail@mail.com"
            formControlName="email"
            >
            </ion-input>

            <ng-container>
              <ion-icon
              *ngIf="attendForm.get('email')?.valid && attendForm.get('email')?.touched"
              name="checkmark-circle"
              slot="end"
              color="success"
              class="valid-checkmark-icon"
              ></ion-icon>
            </ng-container>
          </ion-item>

         
        </ion-col>


        <ion-col size="12" sizeLg="5" class="ion-margin-top">
          <ion-label>Telefon</ion-label>
          <ion-item fill="outline" shape="round">
            <ion-input
            aria-label="Telefonnummer"
            placeholder="12345678"
            formControlName="phone"
            >
            </ion-input>
            <ng-container>
              <ion-icon
              *ngIf="attendForm.get('email')?.valid && attendForm.get('email')?.touched"
              name="checkmark-circle"
              slot="end"
              color="success"
              class="valid-checkmark-icon"
              ></ion-icon>
            </ng-container>
            
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="submit()" [disabled]="!attendForm.valid" class="ion-text-center">
            <app-button  variant="secondary" size="small">
              <p>Tilmeld</p>
            </app-button>
          </ion-button>
          
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  -->
</ion-content> 

<app-generic-modal [modalBackgroundColor]="'white'" [showButton]="false" *ngIf="successModalVisible" (closeAction)="closeSuccessModal()">
  <app-succes-modal (closeRequest)="closeSuccessModal()"></app-succes-modal>
  
</app-generic-modal>

