<ion-list class="ion-margin">
  <ion-item class="item-background-color" lines="none">
    <ion-label>
      <h2>{{ activity.title }}</h2>
      <p>Tid: {{ activity.time }}</p>
      <p>Dato: {{activity.date | date: 'dd-MM-yyyy'}}</p>
      <p>Lokation: {{ activity.location }}</p>
    </ion-label>

    <!--
    <ion-buttons slot="end">
      <ion-button (click)="editItem(item)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="deleteItem(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="primary" name="create-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="makeHttpRequest(activity.id)">
        <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>