.search-bar {
  --background: #ffffff;
  --box-shadow: 0px 0px 0px 1px;
}

ion-searchbar {
  --icon-color: #43bceb;
  --background: transparent;
  --box-shadow: 0;
  border-radius: 40px;
  padding: 0;
}

.search-icon {
  //margin-right: 2px;
  width: 60px;
  height: 40px;
}

.search-div {
  background-color: white;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px #6f6f6f;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 766px) {
  .search-div {
    margin: 0;
  }
}